@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Sample Transactions API</h2>
        <p>
			This is a take-home programming exercise to demonstrate my familiarity with C#, .NET MVC, and APIs.
        </p>
		<h3>Rules</h3>
		<p>
			Create a .NET solution to consume a supplied endpoint that requires a secure authorization token. Manually parse the response without the help of any third party libraries, normalize the data, and display to the user a formatted list of all transactions as well
			as a breakdown of various metrics.
		</p>
		<h3>Enough! Let me see it!</h3>
		<p>
			Sure thing.
		</p>
        <p><a class="btn btn-primary" href="@Url.Action("list", "transaction")">Check it out!</a></p>
    </div>
</div>