<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  
    <!-- Normally would pull in secure variables from Octopus or other Deploy tool, and then encrypt the final config but that's a bit of a tall order for a test app :P -->
    <appSettings>
      <add key="TranscardAuthorizationKey" value="TransCardDevTestKey"/>
      <add key="TranscardApiUri" value="https://devproject.transcard.com/api/"/>
    </appSettings>

    <connectionStrings>

    </connectionStrings>
</configuration>
